<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="header">
            
                <div class="logo">
                    <a href="#"><h1>WD</h1></a>
                </div>
                <div class="navbar">
                    <img class="burger" src="https://icon-icons.com/icons2/1572/PNG/64/3592857-burger-general-ham-list-menu-menu-icon-office_107735.png" alt="">
                    <ul>
                    <li>ГЛАВНАЯ</li>
                    <a href="#about"><li> ОБ АВТОРЕ</li></a>
                    <a href="#blockImage"><li> РАБОТЫ</li></a>
                    <a href="#howWork"><li> ПРОЦЕСС</li></a>
                    <a href="#footer"><li>КОНТАКТЫ</li></a>
                </ul>
            </div>
        </div>
        
        <div class="content">
           
            <div class="main">
                 <div class="logoMain">
<img src="./Frame.svg" alt="">
                </div>
                <div class="mainText">
                    <h2> Дизайн и верстка</h2>
                    <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
                    <button>НАПИСАТЬ МНЕ</button>
                </div>  
            </div>
   
        <div id="about" class="about">
            <div class="aboutText">
                <h2>Обо мне</h2>
                <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
            </div>
            <div class="aboutImg">
                <img src="./numbers__item.svg" alt="">
                <img src="./numbers__item.svg" alt="">
                <img src="./numbers__item.svg" alt="">
                <img src="./numbers__item.svg" alt="">
                <img src="./numbers__item.svg" alt="">
                <img src="./numbers__item.svg" alt="">
            </div>
        </div>
        <div class="skills">
            <div class="skillsLeft">
                <h2>Мои навыки</h2>
                <p>Adobe Photoshop</p>
                <div class="skillsLine">
                    <div></div>
                </div>
                    <p>Adobe Photoshop</p>
                    <div class="skillsLine">
                        <div></div>
                    </div>
                        <p>Adobe Photoshop</p>
                        <div class="skillsLine">
                            <div></div>
                        </div>
            </div>
            <div class="skillsRight">
                <img src="./4uvak.svg" alt="">
                    
            </div>
        </div>
        <div class="howWork" id="howWork">
            <div class="howWorkText">
                <h2>Как я работаю</h2>
                <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
            </div>
            <div class="howWorkImg">
                <img src="https://s3-alpha-sig.figma.com/img/7cec/f9b2/aa89d7246db40c5549f821b838c3d622?Expires=1601856000&Signature=HuCkejyWWgbEWc~B6rq7GDOaamEpXdMrdd9o2v74Itsn2-Xkb9G1rbtxjk7sD9p~K9fyIzCi2JQpZJYdV6sjGxU2yjMykIpcRtbslY8DTSZ7jsDY-NOZSbTFtnLg0ZT8Y9Dm0kd7uza8b0N4auyQPXJTXSbdr44h0UyL3s4-9ynDAFdEX9ylkHDEzK~B6CcCsX1iajuRwUbOnBL8TgQS3JXtFIVOD92M8w~c9ov~8sB-F0Ktjaqib3MG8YwNBvW13cpz~uDbSg9Te3gCWD1J63716~uwO2adORirZHjfBQcdEBUqEO7Vmo~~h07ljAm66eS2DO6y-aJGumYljQ9x6w__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
            </div>
            
        </div>
        <div class="blocksImage" id="blockImage">
            <div class="line1">
                <div class="image1">
                <img src="https://s3-alpha-sig.figma.com/img/086c/d36c/3ccc1c06aa42c430479e74a55f64516e?Expires=1601856000&Signature=gDyxuF84JULLE7lnN0XDNkvhYPPDhUuQEKiVEkbHuTamkCFZidepZZaajV0N~WmjELJoBMKI8C47CGPKCsNUkmuWB--yos7zo3uC33kk5gJoHd5rxskUsZOEeo0o0~DihYOlMyP0NJ63dB41tNOfbGukOduuZ0n~k2BhyswxI1x3t3~caz-n-5MlQHf6guwwpXZrAt9HWF4HkP~5Uof~ZVNDaXZUNvZL96IJ~zNChvyUQb3K2~vEOHv69dSwa9IZFAArykAM4FZ3nGhp~rcSYfkcJLtXmBwuVZcFW1J0fiNXJSn5HgyltKrzRiTJiIgEkGkmJqTs6U1I3GtyF5ic8g__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
            </div>
            <div class="image1">
                <img src="https://s3-alpha-sig.figma.com/img/6052/6aeb/04eebe36e2806203009c203ec4fcc4be?Expires=1601856000&Signature=RZE-QsjnKswIewFHL-1~NfrZn6n0uF7mBD6gRijQ8deI0WS37GWehDkJ9A66Q2KOL956j37wkoAxFCt5~uKGgHXoGhLv3512k3tyNq6aPkIXBbH4dFhF77X2Dm4bzMUpCs3SdSfOFLsOm2pwenlODVYM9LfAnu2ePz7Dmbvdu093Q96cOrK9GNLa4fHHeCy-U1JxzvNvk6B3n3pFUPHr9N6oxwcbYk7lhsRgdPCSvUIpXPA~6mcLeZG~wOuMECD1beeTVu7Xp8FS06-qIpdiMYKbslHPIY0MLfsxk-f7aZlLNWP27CRs8gCMJrYdvKJDOzYFpQ01v0YL5~hZm48U1Q__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
                
            </div>
            <div class="image1">
                <img src="https://s3-alpha-sig.figma.com/img/086c/d36c/3ccc1c06aa42c430479e74a55f64516e?Expires=1601856000&Signature=gDyxuF84JULLE7lnN0XDNkvhYPPDhUuQEKiVEkbHuTamkCFZidepZZaajV0N~WmjELJoBMKI8C47CGPKCsNUkmuWB--yos7zo3uC33kk5gJoHd5rxskUsZOEeo0o0~DihYOlMyP0NJ63dB41tNOfbGukOduuZ0n~k2BhyswxI1x3t3~caz-n-5MlQHf6guwwpXZrAt9HWF4HkP~5Uof~ZVNDaXZUNvZL96IJ~zNChvyUQb3K2~vEOHv69dSwa9IZFAArykAM4FZ3nGhp~rcSYfkcJLtXmBwuVZcFW1J0fiNXJSn5HgyltKrzRiTJiIgEkGkmJqTs6U1I3GtyF5ic8g__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
            </div>
            <div class="image1">
                <img src="https://s3-alpha-sig.figma.com/img/6052/6aeb/04eebe36e2806203009c203ec4fcc4be?Expires=1601856000&Signature=RZE-QsjnKswIewFHL-1~NfrZn6n0uF7mBD6gRijQ8deI0WS37GWehDkJ9A66Q2KOL956j37wkoAxFCt5~uKGgHXoGhLv3512k3tyNq6aPkIXBbH4dFhF77X2Dm4bzMUpCs3SdSfOFLsOm2pwenlODVYM9LfAnu2ePz7Dmbvdu093Q96cOrK9GNLa4fHHeCy-U1JxzvNvk6B3n3pFUPHr9N6oxwcbYk7lhsRgdPCSvUIpXPA~6mcLeZG~wOuMECD1beeTVu7Xp8FS06-qIpdiMYKbslHPIY0MLfsxk-f7aZlLNWP27CRs8gCMJrYdvKJDOzYFpQ01v0YL5~hZm48U1Q__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt=""></div>
            </div>
            <div class="line2">
                <div class="image1"><img src="https://s3-alpha-sig.figma.com/img/6052/6aeb/04eebe36e2806203009c203ec4fcc4be?Expires=1601856000&Signature=RZE-QsjnKswIewFHL-1~NfrZn6n0uF7mBD6gRijQ8deI0WS37GWehDkJ9A66Q2KOL956j37wkoAxFCt5~uKGgHXoGhLv3512k3tyNq6aPkIXBbH4dFhF77X2Dm4bzMUpCs3SdSfOFLsOm2pwenlODVYM9LfAnu2ePz7Dmbvdu093Q96cOrK9GNLa4fHHeCy-U1JxzvNvk6B3n3pFUPHr9N6oxwcbYk7lhsRgdPCSvUIpXPA~6mcLeZG~wOuMECD1beeTVu7Xp8FS06-qIpdiMYKbslHPIY0MLfsxk-f7aZlLNWP27CRs8gCMJrYdvKJDOzYFpQ01v0YL5~hZm48U1Q__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
                </div>
                <div class="image1">
                    <img src="https://s3-alpha-sig.figma.com/img/086c/d36c/3ccc1c06aa42c430479e74a55f64516e?Expires=1601856000&Signature=gDyxuF84JULLE7lnN0XDNkvhYPPDhUuQEKiVEkbHuTamkCFZidepZZaajV0N~WmjELJoBMKI8C47CGPKCsNUkmuWB--yos7zo3uC33kk5gJoHd5rxskUsZOEeo0o0~DihYOlMyP0NJ63dB41tNOfbGukOduuZ0n~k2BhyswxI1x3t3~caz-n-5MlQHf6guwwpXZrAt9HWF4HkP~5Uof~ZVNDaXZUNvZL96IJ~zNChvyUQb3K2~vEOHv69dSwa9IZFAArykAM4FZ3nGhp~rcSYfkcJLtXmBwuVZcFW1J0fiNXJSn5HgyltKrzRiTJiIgEkGkmJqTs6U1I3GtyF5ic8g__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
                </div>

                <div class="image1"><img src="https://s3-alpha-sig.figma.com/img/6052/6aeb/04eebe36e2806203009c203ec4fcc4be?Expires=1601856000&Signature=RZE-QsjnKswIewFHL-1~NfrZn6n0uF7mBD6gRijQ8deI0WS37GWehDkJ9A66Q2KOL956j37wkoAxFCt5~uKGgHXoGhLv3512k3tyNq6aPkIXBbH4dFhF77X2Dm4bzMUpCs3SdSfOFLsOm2pwenlODVYM9LfAnu2ePz7Dmbvdu093Q96cOrK9GNLa4fHHeCy-U1JxzvNvk6B3n3pFUPHr9N6oxwcbYk7lhsRgdPCSvUIpXPA~6mcLeZG~wOuMECD1beeTVu7Xp8FS06-qIpdiMYKbslHPIY0MLfsxk-f7aZlLNWP27CRs8gCMJrYdvKJDOzYFpQ01v0YL5~hZm48U1Q__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
                </div>
                
                <div class="image1">
                    <img src="https://s3-alpha-sig.figma.com/img/086c/d36c/3ccc1c06aa42c430479e74a55f64516e?Expires=1601856000&Signature=gDyxuF84JULLE7lnN0XDNkvhYPPDhUuQEKiVEkbHuTamkCFZidepZZaajV0N~WmjELJoBMKI8C47CGPKCsNUkmuWB--yos7zo3uC33kk5gJoHd5rxskUsZOEeo0o0~DihYOlMyP0NJ63dB41tNOfbGukOduuZ0n~k2BhyswxI1x3t3~caz-n-5MlQHf6guwwpXZrAt9HWF4HkP~5Uof~ZVNDaXZUNvZL96IJ~zNChvyUQb3K2~vEOHv69dSwa9IZFAArykAM4FZ3nGhp~rcSYfkcJLtXmBwuVZcFW1J0fiNXJSn5HgyltKrzRiTJiIgEkGkmJqTs6U1I3GtyF5ic8g__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
                </div>
            </div>

        </div>
        <div class="microsoft">
        <div class="microsoft1">
            <img src="https://s3-alpha-sig.figma.com/img/a136/94fa/b0751d42105cc84e58c248c9006576a3?Expires=1601856000&Signature=WeZXi4LXVBxxFiSeavtYbHm8A9eL7Xn33JPbVzdevv-3YmoZK1-f3QFhPU4iFiLvBBSu2CKXDZHMJlgd-UrnPthoKRFX3QKfq1pg9FSaA0BScbWPmAFx5qYD1X1toDpQxE~-2n6guyFIuuGQSgNQtKzdQS82fd15ptnVym-zgRUQdz-zWA1BTQiaOS9CsiMC8b1dNC8IXxSO61Y-t1kYuMbE9J14IqYQ5-51IaF5BHP5IySmMRtFrMvHrRQkvRR-8joO1iuun1D-~hu8OCz~2WHgjvhkVXoBRpHsDlzR6FPPP9Y2GOf4dIhilE-BeaAvKC7yj5jn72wT8gvtCu1I~A__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
        </div>
        <div class="microsoft1">
            <img src="https://s3-alpha-sig.figma.com/img/a136/94fa/b0751d42105cc84e58c248c9006576a3?Expires=1601856000&Signature=WeZXi4LXVBxxFiSeavtYbHm8A9eL7Xn33JPbVzdevv-3YmoZK1-f3QFhPU4iFiLvBBSu2CKXDZHMJlgd-UrnPthoKRFX3QKfq1pg9FSaA0BScbWPmAFx5qYD1X1toDpQxE~-2n6guyFIuuGQSgNQtKzdQS82fd15ptnVym-zgRUQdz-zWA1BTQiaOS9CsiMC8b1dNC8IXxSO61Y-t1kYuMbE9J14IqYQ5-51IaF5BHP5IySmMRtFrMvHrRQkvRR-8joO1iuun1D-~hu8OCz~2WHgjvhkVXoBRpHsDlzR6FPPP9Y2GOf4dIhilE-BeaAvKC7yj5jn72wT8gvtCu1I~A__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
        </div>
        <div class="microsoft1">
            <img src="https://s3-alpha-sig.figma.com/img/a136/94fa/b0751d42105cc84e58c248c9006576a3?Expires=1601856000&Signature=WeZXi4LXVBxxFiSeavtYbHm8A9eL7Xn33JPbVzdevv-3YmoZK1-f3QFhPU4iFiLvBBSu2CKXDZHMJlgd-UrnPthoKRFX3QKfq1pg9FSaA0BScbWPmAFx5qYD1X1toDpQxE~-2n6guyFIuuGQSgNQtKzdQS82fd15ptnVym-zgRUQdz-zWA1BTQiaOS9CsiMC8b1dNC8IXxSO61Y-t1kYuMbE9J14IqYQ5-51IaF5BHP5IySmMRtFrMvHrRQkvRR-8joO1iuun1D-~hu8OCz~2WHgjvhkVXoBRpHsDlzR6FPPP9Y2GOf4dIhilE-BeaAvKC7yj5jn72wT8gvtCu1I~A__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
        </div>
        <div class="microsoft1">
            <img src="https://s3-alpha-sig.figma.com/img/a136/94fa/b0751d42105cc84e58c248c9006576a3?Expires=1601856000&Signature=WeZXi4LXVBxxFiSeavtYbHm8A9eL7Xn33JPbVzdevv-3YmoZK1-f3QFhPU4iFiLvBBSu2CKXDZHMJlgd-UrnPthoKRFX3QKfq1pg9FSaA0BScbWPmAFx5qYD1X1toDpQxE~-2n6guyFIuuGQSgNQtKzdQS82fd15ptnVym-zgRUQdz-zWA1BTQiaOS9CsiMC8b1dNC8IXxSO61Y-t1kYuMbE9J14IqYQ5-51IaF5BHP5IySmMRtFrMvHrRQkvRR-8joO1iuun1D-~hu8OCz~2WHgjvhkVXoBRpHsDlzR6FPPP9Y2GOf4dIhilE-BeaAvKC7yj5jn72wT8gvtCu1I~A__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
        </div>
    </div>
    <div class="contacts">
        <div class="contactsText">
            <h1>Хотите веб-сайт?</h1>
            <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
        </div>
        <div class="contactsInp">
            <div class="inpName">
            <div class="inp1">
                <input type="text" placeholder="Ваше имя">
            </div>
            <div class="inp1">
                <input type="text" placeholder="Ваш e-mail">
            </div>
        </div>
            <div class="inpMessage">
                <input type="text" placeholder="Сообщение">
                <div class="inpButton">
                    <button>ОТПРАВИТЬ</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="footer" id="footer">
        <div class="footer1">
        <div class="footerLeft">
            <h1>Иванов Иван</h1>
            <p>(с) 2018. Все права защищены.</p>
        </div>
        <div class="footerRight">
            <a href="https://vk.com/" target="_blank" ><img src="https://icon-icons.com/icons2/1269/PNG/72/1497553306-103_84830.png" alt=""></a>
            <a href="https://vk.com/" target="_blank" ><img src="https://icon-icons.com/icons2/1269/PNG/72/1497553306-103_84830.png" alt=""></a>
            <a href="https://vk.com/" target="_blank" ><img src="https://icon-icons.com/icons2/1269/PNG/72/1497553306-103_84830.png" alt=""></a>
            
        </div>
    </div>
    </div>
    </div>
</div>
</body>
</html>